header {
  color: black;
  align-content: center;
  background-repeat: no-repeat;
}

nav {
  text-align: center;
  text-decoration-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  font-size: 40px;
}

body {
  text-align: center;
  background-color: white;
}

#title {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  text-decoration-color: #f97e77;
}


#empty-space {
  width: 500px;
  padding:10px;
  border: 2px solid #302F2F;
  margin:0;
  text-align: center;
  display: inline-block;
  color: white;
}

}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", sans-serif;
}

#playlist {
  width: 475px;
  height: 475px;
  padding: 10px;
  border: 2px solid #ffa650;
  margin: 0;
  align-content:center;
  color: white;
  background-color: #ffa650;
  text-align: center;
  display: inline-block;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  align: center;
  border-top: 3px solid white;
  display: inline-block;
  text-align: center;
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: gray;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: gray;
  text-decoration: none;
}

/* selected link */
a:active {
  color: gray;
  text-decoration: none;

}

media query
